<!-- app/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <h2>Welcome to the Home Page</h2>
        <p>This is the main page of our Django MVVM app.</p>
        <a href="{% url 'home' %}?lang=ru-ru&x=1">{% trans "RussianLang" %}</a>
        <a href="{% url 'home' %}?lang=en-us&x=2">{% trans "EnglishLang" %}</a>
    <br>
        <h3>Угадай что за переменную я сюда вложил, <br> А вот она: -- {{ p_x }} --</h3>
    </div>
{% endblock %}