<!-- app/templates/products.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль пользователя{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}

{% block content %}
<h1>Профиль пользователя</h1>
<h2>Мои заказы</h2>
<ul>
    {% for order in orders %}
    <li>
        Заказ #{{ order.id }} на сумму {{ order.total_price }} ₽
        <p>Статус: {{ order.get_status_display }}</p>
        <p>Адрес доставки: {{ order.delivery_address }}</p>
    </li>
    {% empty %}
    <p>У вас пока нет заказов.</p>
    {% endfor %}
</ul>

{% endblock %}