/* /static/css/base.css */
@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura.ttf");
}
:root {
    --global-color-element: rgb(0, 147, 194);
    --global-background-color-element: white;
    --global-side-background-color-element: rgba(0, 147, 194, 30%);


    --header-background-color: rgb(238, 238, 238);
    --header-block-2-background-color: rgb(196, 196, 196);
    --header-color-button: rgb(220, 219, 219);;
    --header-color-border-button: rgb(120, 119, 119);

    --header-color-button-hover: rgb(120, 119, 119);
    --header-color-border-button-hover: rgb(0, 147, 194);

    --header-color-button-active: rgb(150, 150, 150);
    --header-color-border-button-active: rgb(2, 67, 151);


    --footer-background-color: #333;

}

body {
    font-family: "Jura", serif;
    display: flex;
    flex-direction: column;
    background-color: var(--global-background-color-element);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 14px;
    padding: 0;
    color: #fff;
    border-radius: 10px;
    background-color: var(--header-background-color);
}

.header-block-1 {
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    padding-right: 10px;
}

.header-block-1 img {
    width: 64px; /* Устанавливает ширину */
    height: auto; /* Автоматическая высота */
    margin: 10px; /* Отступ от текста */
    display: inline-block; /* Расположение в строке с текстом */
    vertical-align: middle; /* Выравнивание с текстом */
    border-radius: 10px;
}

.header-block-1 h1 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}


.header-block-2 {
    display: flex;
    align-items: center;
    background-color: var(--header-block-2-background-color);
    border-radius: 10px;
    padding: 12px 17px;
    margin: 5px;
}

.header-block-2 nav {
    display: flex;
}

.header-block-2 label input {
    font-family: "Jura", serif;
    border: 0  #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 24px;
    width: 454px;
    height: 38px;
    /*background-color: var(--global-side-background-color-element);*/
}

.header-block-2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 123px;
    height: 48px;

    border-radius: 10px;
    background: var(--header-color-button);

    text-decoration: none;
    font-size: 24px;
    color: black;
}

.header-block-2 a:hover {
    color: white;
    background-color: var(--header-color-button-hover);
    border-color: var(--header-color-border-button-hover);
    cursor: pointer;
}

.header-block-2 a:active {
    color: #a1ffff;
    background-color: var(--header-color-button-active);
    border-color: var(--header-color-border-button-active);
    cursor: pointer;
}


main {
    flex-grow: 1;
    padding: 0 14px;
}

footer {
    background-color: var(--footer-background-color);
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px;
    color: #fff;
    border-radius: 10px;
}