/* /static/css/user_card.css */
body {
    background-color: #e0f7fa;
}
:root {
    --global-color-element: rgb(0, 194, 178);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

h2 {
    color: #00796b;
}